body {
  height: 100%;

  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  background-color: transparent;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.navbar-container {
	width: 80%;
	margin: 0 auto;
}
.navbar-container div {
	display: inline-block;
}
.container {
	width: 80%;
	margin: 0 auto;
}
.container div {
	width: 100%;
	display: inline-block;
}
