/*CSS FUER DIE 2. NAVBAR IM MITARBEITER BEREICH */
#griddiv-nav-top {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 100%;
margin-bottom: 18px;
}
#buttondiv_rowstart {
padding-top:  25px;
padding-bottom: 8px;
width: 100%;
}