.row-bottom{
	padding-top: 25px;
}

.row-radio {
padding-bottom: 15px;
}
.row-data {
}
#first-row {
	padding-bottom: 35px;
}
#execute {
	margin-top: 25px;
	padding: 8px 80px !important;
}
#text-plate{
    -webkit-text-fill-color: rgba(0,142,198,1);
}

#text-time-entry{
	color: gray;
}
#text-time-exit{
	color: gray;
}
label {
	cursor: pointer;
}
