#griddiv-main {
background-color: white;
opacity: 0.8;
border-radius: 20px;
}
#placeholder {
padding-top: 20px;
width: 100%;
}
#rowstart {
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
}
#griddiv-submit {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 100%;
margin-top: 25px;
}
#buttondiv_line {
width: 100%;
border-bottom: 1px solid black;
}
#buttondiv_rowend {
padding-top:  2px;
padding-bottom: 5px;
width: 100%;
}

