#griddiv-main {
background-color: white;
opacity: 0.8;
border-radius: 20px;
}

#rowstart {
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
}
#griddiv-submit {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 100%;
margin-top: 25px;
}
