#jumbo-white{
     background-color: white;
     opacity: 0.8;
     border-radius: 20px;
     width: 80%;
	margin: 0 auto;
	padding-top: 35px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 35px;
}
#griddiv-left-upper {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 49%;
float: left;
margin-bottom: 13px;
margin-right: 5px;
}
#griddiv-left-lower {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 100%;
margin-top: 25px;
}
#griddiv-right-upper {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 50%;

margin-bottom: 13px;
}
#griddiv-right-lower {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 50%;

}
#griddiv-nav-top {
background-color: white;
opacity: 0.8;
border-radius: 20px;
width: 100%;
margin-bottom: 18px;
}
#griddiv-left {
float: left;
}
#griddiv-right {
float: right;
}
.row-radio {
padding-bottom: 15px;
}
.row-data {
}
#first-row {
	padding-bottom: 35px;
}
label {
		cursor: pointer;
}

#rowend-left-upper {
padding-top:  50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 225px;
}
#rowresult {
padding-top:  50px;
padding-left: 50px;
padding-right: 50px;
}
#buttondiv_rowstart {
padding-top:  25px;
padding-bottom: 8px;
width: 100%;
}
#buttondiv_line {
width: 100%;
border-bottom: 1px solid black;
}
#buttondiv_rowend {
padding-top:  2px;
padding-bottom: 5px;
width: 100%;
}
#placeholder {
padding-top: 20px;
width: 100%;
}
a.linkbutton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white;
    color: black;
    border: 2px solid #008CBA;
	border-radius: 12px;
}
a.linkbutton:hover {
    background-color: #008CBA;
    color: white;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	background-color: white;
    color: black;
    border: 2px solid #008CBA;
	border-radius: 12px;
	float: right;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}
