body {
  height: 100%;
	
  background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x:hidden;
  background-color: transparent;
  /* The html and body elements cannot have any padding or margin. */
}
.jumbotron {
    background-color: white;
	opacity: 0.98;
}