@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css");
.fa { font-size: 50px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }
div { transition: all .3s ease;-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease; }
/* Visitor */
div.visitorh4.list-group-item-heading { 
	color:#E48A07; 
}
.list-group-item-text {
	white-space: pre-line;
	word-wrap: break-word;
}
.list-group-item {
	flex: 1;
}
.list-group.SongListGroup{
	flex-direction: row;
	padding-bottom: 50px;
	display: flex;
	width: 100%;
}
